<% layout("/layouts/boilerplate.ejs") %>

  <div class="card-container">
    <% for(let post of allPosts){ %>
    <div class="card mb-1 mt-3" data-post-id="<%= post._id %>">
      <div class="top">
        <div class="userDeatils">
          <a class="nav-link" href="/users/<%= post.owner._id %>"
            > 
          <div class="profileImg">
            
            <img
              src="<%= post.owner.profilePicture.url %>"
              alt="user"
              class="cover"
            /> 
          </div>
          </a>
          <h3><%= post.owner.username %> <br /><span>Web Designer</span></h3>
        </div>
        <div class="dot">
          <img src="/images/dot.png" alt="dot" />
        </div>
      </div>
      <div class="imgBg">
        <img src="<%= post.image.url%>" alt="bg" class="cover" />
      </div>
      <div class="btns">
        <div class="left">
          <img
            src="/images/heart.png"
            alt="heart"
            class="heart"
            onclick="likeButton(this)"
          />
          <a href="/posts/<%=post._id  %>" style="text-decoration: none"
            ><img src="/images/comment.png" alt="comment"
          /></a>

          <img src="/images/share.png" alt="share" />
        </div>
        <div class="right">
          <img src="/images/bookmark.png" alt="bookmark" />
        </div>
      </div>
      <h4 class="likes"><%= post.likes%> likes</h4>
      <h4 class="message">
        <b><%= post.owner.username %></b>
        <%= post.caption%> <% if (Array.isArray(post.tags)) { %> <%
        post.tags.forEach(tag => { %>
        <span>#<%= tag %></span>
        <% }) %> <% } %>
      </h4>
      <h4 class="comments">View all <%= post.totalComments%> comments</h4>
      <div class="addComments">
        <div class="userImg">
          <% if(!currUser){ %>
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
            alt="user"
            class="cover"
          />
          <%} %> <% if(currUser){ %>
          <img
            src="<%= currUser.profilePicture.url %>"
            alt="user"
            class="cover"
          />
          <%} %>
        </div>
        <input type="text" class="text" placeholder="Add a comment..." />
      </div>
      <h5 class="postTime"><%= post.formattedCreatedAt %></h5>
    </div>
    <% }%>
  </div>
</div>
